@charset"utf-8";
/*ヘッダーのcss*/

blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body, html {
    color: #000;
    background: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 1.5;
    font-size: 14px;
}

nav {
    display: block;
}

div {
    display: block;
}

form {
    display: block;
}

img {
    vertical-align: top;
    border: 0;
    width: auto;
    height: auto;
}

a:hover {
    opacity: 0.7;
    cursor: pointer;
}

.header-logo img {
    width: 100%;
    height: auto;
}

@media screen and ( min-width:480px ) {

    .header {
        position: fixed;
        top: 0;
        z-index: 99;
        box-shadow: 0 2px 5px rgba(0,0,0,.05);
        width: 100%;
        background: #fff;
    }

    .header-nav {
        display: flex;
        box-shadow: none;
        padding: 0;
        width: 100%;
        max-width: 1240px;
        padding: 0 20px;
        margin: 0 auto;
    }

    .header-logo {
        display: block;
        max-width: 180px;
        width: 44%;
        margin-right: 20px;
    }

    .header-nav-inner {
        box-shadow: 0 2px 5px rgba(0,0,0,.05);
        display: flex;
        align-items: center;
        width: 100%;
        height: 62px;
        padding: 0 50px 0 30px;
        background-color: #fff;
        z-index: 99;
        position: relative;
    }

    .header-nav-item {
        display: flex;
    }

    .header-nav-item-btn {
        color: #fff;
        background-color: #FF6666;
        width: 90px;
        height: 62px;
        font-size: 11px;
        display: flex;
        flex-direction: column; /*https://developer.mozilla.org/ja/docs/Web/CSS/flex-direction*/
        align-items: center; /*https://developer.mozilla.org/ja/docs/Web/CSS/align-items*/
        justify-content: center; /*https://developer.mozilla.org/ja/docs/Web/CSS/justify-content*/
    }

    .header-nav-item-btn-beginner {
        background-color: #62b684;
        font-weight: 600;
        color: #fff;
    }

    .search-form {
        position: relative;
        width: 70%;
    }

    a, a:active, a:hover, a:link, a:visited {
        text-decoration: none;
    }

    /*.search-form-btn, search-form-wrap {
    border: none;
}*/

    .search-form-field, search-form-btn, search-form-wrap {
        border: none;
    }

    .search-form-field {
        width: 100%;
        height: 40px;
        outline: none; /*クリックした後の線を非表示*/
        border-radius: 20px;
        border-color: #cab270;
        padding: 4px 50px 4px 30px;
        background-color: #f2f2f2;
        background-image: url(file:///C:/Users/%E4%BD%90%E5%B7%9D/Downloads/musi.png);
        background-repeat: no-repeat;
        background-position: 10px;
        background-size: 15px auto;
    }

    .search-form-btn:hover {
        opacity: 0.5;
    }

    .search-form-btn {
        width: 80px;
        min-width: 50px;
        background: #cab270;
        border-radius: 0 10px 10px 0;
        font-size: 14px;
        position: absolute;
        cursor: pointer;
        right: 0;
        height: 100%;
        border: none;
    }
}

@media screen and ( max-width:480px ) {
    /**/
    .header {
        display: flex;
        justify-content: space-between;
        background: #ddd;
        padding: 20px;

        .logo {
            font-size: 20px;
        }
    }

    .nav-button {
        display: none;
    }

    .nav {
        a {
            color: #000;
            text-decoration: none;
            font-size: 14px;
            color: #448aff;
        }

        li {
            display: inline-block;
            margin: 0 10px;
        }
    }

    .nav-wrap.open {
        display: block;
    }

    .nav-wrap.close {
        display: none;
    }

    @media screen and (min-width: 481px) {
        .nav-wrap {
            display: block !important;
        }
    }

    .content {
        padding: 20px;
    }

    @media screen and (max-width: 480px) {
        .nav-button {
            display: block;
            cursor: pointer;
        }

        .nav-wrap {
            position: fixed;
            left: 0;
            top: 0;
            display: none;
            z-index: 10;
            background-color: rgba(0, 0, 0, 0.7);
            width: 100%;
            height: 100%;

            .nav {
                height: 100%;
                position: relative;
                overflow-x: hidden;
                overflow-y: auto;
            }

            li {
                display: block;
                margin: 2em;

                a {
                    color: #fff;
                    font-size: 18px;
                }
            }
        }
        /*メニューボタン*/
        .nav-button,
        .nav-button span {
            display: inline-block;
            transition: all 0.4s;
            box-sizing: border-box;
        }

        .nav-button {
            z-index: 20;
            position: relative;
            width: 40px;
            height: 36px;
        }

        .nav-button span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: black;
            border-radius: 4px;
        }

        .nav-button span:nth-of-type(1) {
            top: 0;
        }

        .nav-button span:nth-of-type(2) {
            top: 16px;
        }

        .nav-button span:nth-of-type(3) {
            bottom: 0;
        }

        .nav-button.active span:nth-of-type(1) {
            -webkit-transform: translateY(16px) rotate(-45deg);
            transform: translateY(16px) rotate(-45deg);
        }

        .nav-button.active span:nth-of-type(2) {
            opacity: 0;
        }

        .nav-button.active span:nth-of-type(3) {
            -webkit-transform: translateY(-16px) rotate(45deg);
            transform: translateY(-16px) rotate(45deg);
        }
    }


    /**/
    .header {
        position: fixed;
        top: 0;
        z-index: 99;
        box-shadow: 0 2px 5px rgba(0,0,0,.05);
        width: 100%;
        background: #fff;
    }

    .header-nav {
        display: flex;
        box-shadow: none;
        padding: 0;
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
    }

    .header-logo {
        display: block;
        max-width: 80px;
        width: 22%;
        margin-left: 5px;
    }

    .header-nav-inner {
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
        display: flex;
        align-items: center;
        width: 100%;
        height: 60px;
        background-color: #fff;
        z-index: 99;
        position: relative;
    }

    .header-nav-item {
        display: flex;
    }

    .header-nav-item-btn {
        color: #fff;
        background-color: #FF6666;
        width: 55px;
        height: 60px;
        font-size: 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-nav-item-btn-beginner {
        background-color: #62b684;
        font-weight: 400;
        color: #fff;
    }

    .search-form {
        position: relative;
        width: 70%;
    }

    a, a:active, a:hover, a:link, a:visited {
        text-decoration: none;
    }

    .search-form-field, search-form-btn, search-form-wrap {
        border: none;
    }

    .search-form-field {
        width: 100%;
        height: 20px;
        outline: none; /*クリックした後の線を非表示*/
        border-radius: 20px;
        border-color: #cab270;
        padding: 4px 50px 4px 30px;
        background-color: #f2f2f2;
        background-image: url(file:///C:/Users/%E4%BD%90%E5%B7%9D/Downloads/musi.png);
        background-repeat: no-repeat;
        background-position: 10px;
        background-size: 14px auto;
    }

    .search-form-btn:hover {
        opacity: 0.5;
    }

    .search-form-btn {
        width: 40px;
        min-width: 30px;
        background: #cab270;
        border-radius: 0 10px 10px 0;
        font-size: 7px;
        position: absolute;
        cursor: pointer;
        right: 0;
        height: 100%;
        border: none;
    }
}

/*フッターのcss*/

footer {
    width: 100%;
    background-color: #89c7de;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    bottom: 0; /*下に固定*/
}

.ul-sitemap {
    height: auto;
}

.MJ-acses {
    height: 20px;
    width: 100px;
}
